{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for nota in user.notas %}
  <li class="list-group-item">
    {{ nota.texto }}
    <form action="..." method="post">
      <button type="submit" class="close">X</button>
    </form>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="texto" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
